In [22]:
import pandas as pd
import numpy as np

In [23]:
#Part(A) Q no 3.
Df = pd.read_csv('iris.csv')

In [24]:
Df.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [28]:
Df.sepal_length[2]

4.7

In [16]:
#Part(A) Q no 4
x = 5
y = 7
z = x + y + 1

In [17]:
print(z)

13

In [9]:
#Part(A) Q no 5.
x = "test"
y = False

In [14]:
type(x)

str

In [13]:
type(y)

bool

In [16]:
#Part(B) Q no 6
list1 = [1, 2, 3, 4, 5, 6]

In [17]:
len(list1)

6

In [18]:
list2 = []
for i in list1:
    x =(len(list1)+1) - i
    list2.append(x)

In [19]:
#Output
print(list2)

[6, 5, 4, 3, 2, 1]

In [81]:
#Part(B) Q no 1
def palindrome(phrase):
    return phrase == phrase[::-1]
if palindrome:
    print("It is palindrome")
else:
    print("It is not palindrome")
print(palindrome("mother"))

It is palindrome
False

In [93]:
#Part(B) Q no 7
def function(n):
    return n
    n = [5, 4, 3, 2, 3]
    t=[]
    for i in n:
        t.append(i**3)  
print(sum(t))

251